Source: syslinux-themes-hamonikr
Section: misc
Priority: optional
Maintainer: Kevin Kim <root@hamonikr.org>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: syslinux-themes-hamonikr
Architecture: amd64
Depends: isolinux, memtest86+, syslinux-common, ${misc:Depends}
Enhances: extlinux
Provides: syslinux-theme
Replaces: syslinux-themes-linuxmint
Description: collection of boot loaders
 SYSLINUX is a collection of boot loaders which operates off Linux ext2/3/4 or
 btrfs filesystems, MS-DOS FAT filesystems, network servers using PXE firmware,
 or from CD-ROMs.
 .
 Graphical bootloader theme.
